.movie-list {
  margin: 0 auto;
  width: 80%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie-item {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.movie-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-item h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.movie-item p {
  font-size: 14px;
  margin-bottom: 5px;
}